<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/"> Country List Practice </a>
      </div>
  
      <div class="navbar-default">
        <ul class="nav navbar-nav">
          <li routerLinkActive="active"><a routerLink="countries">Country List</a></li>
          <li routerLinkActive="active"><a routerLink="comments">Comments Table</a></li>
        </ul>
      </div>
    </div>
  </nav>